@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  color: var(--mainColor);
  text-rendering: optimizeLegibility;
  font-family: var(--sansSerif);
  font-weight: 400;
  margin: 0 0 var(--baseline);
}

body {
  font-family: var(--serif);
  font-size: var(--fontSize);
  line-height: var(--baseline);
  margin: 0;
}

.application-container {
  height: 100%;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: var(--baseline) 0;
}

.logo {
  height: calc(var(--baseline)*6);
  margin-bottom: var(--baseline);
}

h1 {
  font-size: 3rem;
  line-height: 1em;
}

p {
  margin: 0 0 var(--baseline);
}

.checklist {
  list-style: none;
  padding: 0;
  font-family: var(--sansSerif);
  margin: 0 0 var(--baseline);
}

.checklist li {
  margin-bottom: var(--baseline);
}

.checklist .fa {
  margin-right: 0.5rem;
  color: hwb(26, 0%, 0%, 1.0);
}
